<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <template class="tpl__song">
        <div class="card">
            <div class="card__img"></div>
            <header class="card__header">
                <button class="card__header--menu"></button>
            </header>
            <div class="card__text">
                <h3 class="card__text--title">Lovely</h3>
                <p  class="card__text--artist">Artist: Billie Eilish</p>
                
                <div class="card__text--controls">
                    <button class=""></button>
                    <button class=""></button>
                    <a href="" id="btn-song"><button class="play home-play"></button></a>
                </div>
            </div>
        </div>
    </template>
    <div id="canciones">

    </div>
    <script src="../js/tplCard.js"></script>
</body>
</html>